.chart-component {
    margin-top: 5em;

    .chart-data{
        background-color: white;
        color: black !important;
        border-radius: 13px;
        .chart {
            margin: 0 auto;
            //border-radius: 13px;
        }
    }

}
