.city-details-component {
    margin-top: 5em;
    
    .searcher {
        margin-bottom: 3em;
    }

    .all-cities {        
        height: 50em;
        overflow-y: auto;
        .city-element {
            .col-see-details {
                margin-bottom: 1em;
            }

            .card-detail {
                width: 50em;
            }
        }

        .error-image {
            width: 15em;
        }
    }
}
