.user-managment {
    margin-top: 3em;
    border-radius: 13px;    

    .user-info {
        overflow-y: auto;
        height:30em;

        .table-users{
            border-radius: 13px;
        }
    }
}
